<div class="row">
	<h1>Editing vacancy <%= @vacancy.title %></h1>
</div>

<div class="row">
	<div  class="large-6 large-centered columns">
		<%= form_for @vacancy do |f|  %>
			<%= f.label :title, "Vacancy title*" %>
			<%= f.text_field :title, :placeholder => "Senior rails developer.." %>
			<%= f.label :description, "Vacancy description*" %>
			<%= f.text_area(:description, :placeholder => "We are looking for..", :size => '15x15') %>

			<h4>Please choose options that are suitable:</h4>

			<div class="row">
				<div class="large-6 columns">
					<%= f.label :junior, "Suitable for juniors?" %>
					<%= f.check_box :junior, :class=> "checkbox" %>	
				</div>
				<div class="large-6 columns">
					<%= f.label :hot, "Hot vacancy?" %>		
					<%= f.check_box :hot %>
				</div>	
			</div>
			<p></p>
			<div class="row">				
				<div class="large-6 columns">
					<%= f.label :distance, "Distance work?" %>
					<%= f.check_box :distance %>	
				</div>
				<div class="large-6 columns">
					<%= f.label :office, "Office work?" %>		
					<%= f.check_box :office %>
				</div>	
			</div>
			<p></p>
			<%= f.label :salary, "Salary in czk" %>
			<%= f.text_field :salary, :placeholder => "30000" %>
			<%= f.label :city, "City of work*" %>
			<%= f.text_field :city, :placeholder => "Prague, Brno, etc.." %>
			<h3>Contact information</h3>
			<%= f.label :email, "Email*" %>	
			<%= f.text_field :email %>
			<%= f.label :comapny, "Company name*" %>
			<%= f.text_field :company %>
			<%= f.label :web, "Web without http://" %>
			<%= f.text_field :web, :placeholder => "company.com" %>
			<%= f.label :phone, "Phone*" %>
			<%= f.text_field :phone, :placeholder => "+420 111 222 333" %>
			<%= f.label :person, "Contact person*" %>
			<%= f.text_field :person, :placeholder => "Milos Zeman.." %>

			<%= f.label :confirmed, "Confirm?" %>
			<%= f.check_box :confirmed %>

			<div class="panel">
			  <%= f.submit "Post vacancy", :class=> "small button " %>
			</div>
		<% end %>		
	</div>
</div>