<% provide(:title, "New vacancy") %>

<div class="row">
	<div  class="large-6 large-centered columns">
		<h1>Add new vacancy</h1>
		<h5 class="subheader" style="background-color:#f68451; color:white;">fields with * are mandatory</h5>
	</div>	
</div>
<p></p>
<div class="row">
	<div  class="large-6 large-centered columns">
		<%= form_for @vacancy do |f|  %>
			<%= render 'shared/error_message', object: f.object %>
			<%= f.label :title, "Vacancy title*" %>
			<%= f.text_field :title, :placeholder => "Senior rails developer.." %>
			<%= f.label :description, "Vacancy description*" %>
			<%= f.text_area(:description, :placeholder => "We are looking for..", :size => '15x15') %>

			<h4>Please choose options that are suitable:</h4>

			<div class="row">
				<div class="large-6 columns">
					<%= f.label :junior, "Suitable for juniors?" %>
					<%= f.check_box :junior, :class=> "checkbox" %>	
				</div>
				<div class="large-6 columns">
					<%= f.label :hot, "Hot vacancy?" %>		
					<%= f.check_box :hot %>
				</div>	
			</div>
			<p></p>
			<div class="row">				
				<div class="large-6 columns">
					<%= f.label :distance, "Distance work?" %>
					<%= f.check_box :distance %>	
				</div>
				<div class="large-6 columns">
					<%= f.label :office, "Office work?" %>		
					<%= f.check_box :office %>
				</div>	
			</div>
			<p></p>
			<%= f.label :salary, "Salary in czk" %>
			<%= f.text_field :salary, :placeholder => "30000" %>
			<%= f.label :city, "City of work*" %>
			<%= f.text_field :city, :placeholder => "Prague, Brno, etc.." %>
			<%= f.label :details, "Details" %>
			<%= f.text_area :details, :placeholder => "Put some details here..", :size => '10x10' %>

			<h3>Contact information</h3>
			<%= f.label :email, "Email*" %>	
			<%= f.text_field :email %>
			<%= f.label :comapny, "Company name*" %>
			<%= f.text_field :company %>
			<%= f.label :web, "Web without http://" %>
			<%= f.text_field :web, :placeholder => "company.com" %>
			<%= f.label :phone, "Phone*" %>
			<%= f.text_field :phone, :placeholder => "420 111 222 333" %>
			<%= f.label :person, "Contact person*" %>
			<%= f.text_field :person, :placeholder => "Milos Zeman.." %>

			<div class="panel">
				<h6 class="subheader">Posting vacancy, you automatically agree with <%= link_to "conditions and terms", "/conditions" %></h6>
			  <%= f.submit "Post vacancy", :class=> "small button " %>
			</div>
		<% end %>		
	</div>
</div>