<% provide(:title, @vacancy.title) %>

<div class="row">
	<div class="row">
		<div class="large-12 columns">
			<ul class="breadcrumbs">
		 		<li><%= link_to I18n.t(:all_vacancies), root_path %></li>
		  	<li><%= link_to "#{@vacancy.title}", vacancy_path(@vacancy) %></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="large-8 columns">
			<h2><%= @vacancy.title %></h2>
		</div>
		<% if @vacancy.salary? %>
			<div class="large-4 columns">
				<h3> <%= I18n.t(:salary) %><%= @vacancy.salary %> <%=I18n.t(:czk)%></h3>
			</div>
		<% end %>			
	</div>
	<div class="row">
		<div class="large-8 columns">	
			<h4 class="subheader"><%= @vacancy.city  %></h4>	
			<%= hot(@vacancy) %>		
			<%= distance(@vacancy) %>
			<%= junior(@vacancy) %>
			<%= office(@vacancy) %>
			<div class="row">
				<p></p>
			</div>
			<p style="font-family: Inconsolata;"><%= markdown(@vacancy.description) %></p>
			<% if @vacancy.details? %>
				<div class="panel">
					<%= @vacancy.details %>
				</div>
			<% end %>	
		</div>	
		<div class="large-4 columns">
		<ul class="pricing-table" style="font-family: Inconsolata;">
		  <li class="title"><%= I18n.t(:contact_information) %></li>
		  <li class="price"><%= @vacancy.company %></li>
		  <li class="bullet-item"><span style="font-weight: bold;"> Email: </span><%= @vacancy.email %></li>
		  <li class="bullet-item"><span style="font-weight: bold;"><%= I18n.t(:panel_web) %></span><%= link_to @vacancy.web, "http://#{@vacancy.web}"%></li>
		  <li class="bullet-item"><span style="font-weight: bold;"><%= I18n.t(:panel_phone) %></span> +<%= @vacancy.phone %></li>
		  <li class="bullet-item"><span style="font-weight: bold;"><%= I18n.t(:panel_person) %></span> <%= @vacancy.person %></li>
		</ul>
		</div>
	</div>	
</div>
