<% provide(:title, "New user") %>

<div class="row">
	<div class="large-6 large-centered columns">
		<h1>New user</h1>
	</div>	
</div>
<div class="row">
	<div class="large-6 large-centered columns">
	<%= form_for @user do |f| %>

		<%= f.label :email %>
		<%= f.text_field :email %>

		<%= f.label :password %>	
		<%= f.password_field :password %>

		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>

		<%= f.submit %>

	<% end %>
	</div>
</div>