<% provide(:title, "Conditions") %>

<div class="row">
	<div class="large-7 large-centered columns">
		<h1><%= I18n.t(:conditions) %> </h1>
	</div>	
</div>
<div class="row">
	<div class="large-7 large-centered columns">
		<ul class="square">
			<li><%= I18n.t(:conditions_1) %></li>
			<li><%= I18n.t(:conditions_2) %></li>
			<li><%= I18n.t(:conditions_3) %></li>
			<li><%= I18n.t(:conditions_4) %></li>
			<li><%= I18n.t(:conditions_5) %></li>
		</ul>
	</div>
</div>