<div class="row">
	<% @vacancies.each do |vacancy| %>
		<% if vacancy.confirmed? %>
			<div class="row">
				<div class="large-9 columns">
					<h3><%= link_to vacancy.title, vacancy_path(vacancy) %></h3>
					<h5 class="subheader" style="font-style:italic;"><%= vacancy.city %></h5>
				</div>
				<div class="large-3 columns">
					<p></p>
					<% if vacancy.hot? %>
						<span class="radius alert label">HOT</span>
					<% end %>
					<% if vacancy.junior? %>
						<span class="radius success label">Juniors</span>
					<% end %>
					<p></p>
					<% if vacancy.office? %>
						<span class="radius label" style="background-color:#1d0f98;">Office work</span>
					<% end %>
					<% if vacancy.distance? %>
						<span class="radius label">Distance work</span>
					<% end %>
				</div>	
			</div>
			<div class="row">
				<div class="large-12 columns">
					<span class="round secondary label"><%= vacancy.company %></span>
					<span class="round secondary label">published on: <%= vacancy.created_at.to_s(:vacancy_date) %></span>
					<% if vacancy.salary %>
						<span class="round label" style="background-color:#3e3c3c; color:white;">salary from: <%= vacancy.salary %> czk/m</span>
					<% end %>	
				</div>		
			</div>
			<hr />
		<% end %>
	<% end %>		
</div>
<div class="row">
	<div class="large-4 large-centered columns">
		<%= foundation_paginate @vacancies %>
	</div>	
</div>