<% provide(:title, I18n.t(:all_vacancies)) %>

<div clas="row">
	<div class="large-2 columns">
	</div>
	<div class="large-2 columns">
	</div>
</di>
<div class="row">
	<% @vacancies.each do |vacancy| %>
		<% if vacancy.confirmed? %>
			<div class="row">
				<div class="large-9 columns">
					<h3><%= link_to vacancy.title, vacancy_path(vacancy) %><small>	<%= archived(vacancy) %></small></h3>
					<h5 class="subheader" style="font-style:italic;"><%= vacancy.city %></h5>
				</div>
				<div class="large-3 columns">
					<p></p>
						<%= hot(vacancy) %>
						<%= distance(vacancy) %>	
						<p></p>
						<%= junior(vacancy) %>	
						<%= office(vacancy) %>						
				</div>	
			</div>
			<div class="row">
				<div class="large-12 columns">
					<span class="round secondary label"><%= vacancy.company %></span>
					<span class="round secondary label"><%= I18n.t(:published) %> <%= vacancy.created_at.to_s(:vacancy_date) %></span>
					<% if vacancy.salary %>
						<span class="round label" style="background-color:#3e3c3c; color:white;"><%= I18n.t(:salary) %><%= vacancy.salary %><%=I18n.t(:czk)%></span>
					<% end %>	
				</div>		
			</div>
			<hr />
		<% end %>
	<% end %>		
</div>
<div class="row">
	<div class="large-4 large-centered columns">
		<%= foundation_paginate @vacancies %>
	</div>	
</div>