<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= full_title(yield(:title)) %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if signed_in? %>
      <div class="row" style="background-color: #dee4fa;">
        <div class="large-6 large-centered columns">
          <%= link_to "Sign out", signout_path, method: "delete" %> | 
          <%= link_to "profile", current_user %> | 
          <%= link_to "main", root_url %>
        </div>
      </div>
    <% end %>    

    <div class="row">
      <div class="large-2 columns">
        <p></p>
        <%= link_to (image_tag ("1123.png")), root_path %>  
      </div>
      <div class="large-7 columns">
        <h1>Ruby Jobs</h1>
        <h4 class="subheader"><%= I18n.t(:subheader) %></h4>  
      </div>
      <div class="large-3 columns">
        <p></p>
        <h5><%= link_to I18n.t(:button_new_vac), new_vacancy_path, :class => "radius alert button"  %></h5>
        <p>
          <% if I18n.locale == I18n.default_locale %>
            přepnout na: <%= link_to "Český", :locale=>'cs'%>
          <% else %>
            switch to: <%= link_to "English", :locale=>'en'%>
          <%end%>
        </p>
      </div>  
    </div>
    <div class="row">
      <hr />
    </div>  
        
    <%= yield %>
    
    <div class="row">
      <p></p>
    </div>

    <div class="row" style="background-color: #dee4fa;">
      <p></p>
      <div class="large-9 large-centered columns">
        <div class="large-6 columns">
          <ul class="inline-list">
            <li><%= link_to I18n.t(:about_page), "/about"  %></li>
            <li><%= link_to I18n.t(:conditions_page), "/conditions"  %></li>
            <li><%= link_to I18n.t(:contact_page), "/contact"  %></li>
          </ul>
        </div>
        <div class="large-3 columns">
          <%= image_tag("facebook.jpg") %>
          <%= image_tag("facebook.jpg") %>
          <%= image_tag("facebook.jpg") %>
        </div>
      </div>    
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
